<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{css/index.css}" rel="stylesheet" />
</head>
<body>
    <h1>Design your taco</h1>
    <img th:src="@{images/taco.jpeg}" />
    <form method="post" th:object="${design}">
        <h3>Design your wrap</h3>
        <section th:each="ingredient : ${WRAP}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" th:id="${ingredient.id}" />
            <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </section>

        <h3>Design your cheese</h3>
        <section th:each="ingredient : ${CHEESE}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" th:id="${ingredient.id}" />
            <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </section>

        <h3>Design your PROTEIN</h3>
        <section th:each="ingredient : ${PROTEIN}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" th:id="${ingredient.id}" />
            <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </section>

        <h3>Design your SAUCE</h3>
        <section th:each="ingredient : ${SAUCE}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" th:id="${ingredient.id}" />
            <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </section>

        <h3>Design your VEGGIES</h3>
        <section th:each="ingredient : ${VEGGIES}">
            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" th:id="${ingredient.id}" />
            <label th:for="${ingredient.id}" th:text="${ingredient.name}"></label>
        </section>
        <span class="errorMessage" th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}"></span>
        <h3>Your taco name:</h3>
        <input name="name" th:field="*{name}"><br />
        <span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <button type="submit">Design your taco</button>
    </form>

</body>
</html>