<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"

        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order page</title>
  <link th:href="@{css/index.css}" rel="stylesheet" />
</head>
<body>
<h1>This is the order page</h1>
<img th:src="@{/images/taco.jpeg}" />
<a th:href="@{/design}">Design your taco</a>
<form method="post" th:action="@{/order}" th:object="${order}">
  <div th:if="${#fields.hasErrors()}">
    <p class="errorMessage">Please correct the problem bellow to continue</p>
  </div>
  <label for="name">Name:</label><input id="name" type="text" th:field="*{name}" /><span class="errorMessage" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></br>
  <label for="street">Street:</label><input id="street" type="text" th:field="*{street}" /><span class="errorMessage" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span></br>
  <label for="city">City:</label><input id="city" type="text" th:field="*{city}" /><span class="errorMessage" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span></br></br>
  <label for="state">State:</label><input id="state" type="text" th:field="*{state}" /><span class="errorMessage" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span></br></br>
  <label for="zip">Zip:</label><input id="zip" type="text" th:field="*{zip}" /><span class="errorMessage" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span></br></br>
  <fieldset>
    <h3>Credit Card</h3>
    <label for="ccNumber">Number:</label><input id="ccNumber" type="text" th:field="*{ccNumber}" /><span class="errorMessage" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}"></span></br></br>
    <label for="ccExp">Exp:</label><input id="ccExp" type="text" th:field="*{ccExp}" /><span class="errorMessage" th:if="${#fields.hasErrors('ccExp')}" th:errors="*{ccExp}"></span></br>
    <label for="ccCVV">CVV:</label><input id="ccCVV" type="text" th:field="*{ccCVV}" /><span class="errorMessage" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}"></span></br>
  </fieldset>
  <button type="submit">Submit Order</button>
</form>
</body>
</html>